html *,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-title-color: #ffffff;
  --main-text-color: #757575;
  --main-logo-color: #2196f3;
  --second-logo-color: #000000;
  --main-black-color: #212121;
  --bcg-main-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* header */
header {
  height: 80px;
}
.container-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-link,
.connection {
  display: flex;
}
.anchor {
  margin-right: 331px;
}
.nav-link :not(:last-child) {
  margin-right: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
  flex-grow: 2;
}
.header-link:hover,
.header-link:active {
  color: var(--main-logo-color);
}
.header-link.current {
  color: var(--main-logo-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
}
.contacts .header-tel {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.contacts .header-mail {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-mail:hover,
.header-mail:active {
  color: var(--main-logo-color);
}
.header-tel:active,
.header-tel:hover {
  color: var(--main-logo-color);
}

/* portfolio */

.port-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  border-radius: 4px;
  border-color: none;
}
.port-button :active,
.port-button :hover {
  background: var(--main-logo-color);
  color: var(--main-title-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--main-logo-color);
}
.port-container .port-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black-color);
}
.port-container .port-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* logo */

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);

  margin-right: 93px;
}
.header-section .logo {
  color: var(--second-logo-color);
}
.footer-section .logo {
  color: var(--main-title-color);
}
.logo .web {
  color: var(--main-logo-color);
}

/* hero */

.hero-section {
  background-color: var(--bcg-main-color);
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background: var(--main-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* features */
.features-container {
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  display: block;
  flex-basis: calc(100% / 4 - 10px);
  padding-top: 94px;
  padding-right: 30px;
  justify-content: center;
}
.features-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-black-color);
}
.features-text {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
  color: var(--main-text-color);
}

/* about company */
.about-main {
  display: flex;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

/* our command */

.cmd-container {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.cmd-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}
.cmd-container > h3 {
  font-weight: inherit;
  font-size: inherit;
  color: var(--main-black-color);
}
.cmd-container > p {
  color: var(--main-text-color);
}

/* footer */

.footer-section {
  background-color: var(--bcg-main-color);
}
.contacts .footer-tel {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.contacts .footer-mail {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.address {
  font-style: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
